.download-wrapper {
  .banner {
    height: 473px;
    padding-top: 77px;
    background: url("./images/cbanner_download.jpg") center 0 no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h2 {
      width: 920px;
      font-size: 60px;
      text-align: center;
      color: #fff;
    }
    .download-btn {
      width: 100%;
      position: absolute;
      bottom: 30px;
      left: 0;
      text-align: center;
      a {
        width: 291px;
        height: 66px;
        display: inline-block;
        background: url("./images/download_btn.png") center 0 no-repeat;
        background-size: contain;
      }
    }
  }
  .download-1 {
    height: 575px;
    background: url("./images/downloadbg_1.jpg") center 0 no-repeat;
    padding-top: 100px;
    .con {
      max-width: 1200px;
      margin: 0 auto;
      p {
        text-indent: 3rem;
        line-height: 1.5;
        color: #747474;
        font-size: 24px;
        margin-bottom: 15px;
      }
    }
  }
  .download-2,
  .download-3 {
    height: 537px;
    padding-top: 135px;
    .h2tit {
      font-size: 60px;
      color: #fff;
      text-align: center;
      margin-bottom: 40px;
    }
    .con {
      font-size: 28px;
      color: #fff;
      text-align: center;
      margin-bottom: 100px;
    }
    .btn {
      text-align: center;
    }
  }
  .download-2 {
    background: url("./images/downloadbg_2.jpg") center 0 no-repeat;
    a {
      width: 296px;
      height: 65px;
      display: inline-block;
      background: url("./images/download_btn1.png") 0 0 no-repeat;
    }
  }
  .download-3 {
    background: url("./images/downloadbg_3.jpg") center 0 no-repeat;
    margin-top: 110px;
    a {
      width: 296px;
      height: 65px;
      display: inline-block;
      background: url("./images/download_btn2.png") 0 0 no-repeat;
      position: relative;
      span {
        width: 301px;
        height: 254px;
        display: none;
        background: url("./images/download_qr.jpg") 0 0 no-repeat;
        position: absolute;
        top: -108px;
        left: 0;
        z-index: 99;
      }
      &:hover {
        span {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .download-wrapper {
    .banner {
      height: 340px;
      padding-bottom: 50px;
      h2 {
        width: 100%;
        font-size: 20px;
      }
    }
    .download-1 {
      height: auto;
      padding-top: 30px;
      .tit {
        margin-bottom: 20px;
      }
      .con {
        padding: 0 30px 30px 30px;
        p {
          font-size: 14px;
          text-indent: 28px;
        }
      }
    }
    
    .download-2,
    .download-3 {
      height: 400px;
      padding-top: 80px;
      .h2tit {
        font-size: 30px;
      }
      .con {
        font-size: 14px;
        padding: 0 30px;
      }
    }
    .download-2 {
      a {
        width: 182px;
        height: 40px;
        display: inline-block;
        background: url("./images/download_btn1.png") 0 0 no-repeat;
        background-size: contain;
      }
    }
    .download-3 {
      margin-top: 20px;
      a {
        width: 182px;
        height: 40px;
        display: inline-block;
        background: url("./images/download_btn2.png") 0 0 no-repeat;
        background-size: contain;
        span {
          width: 301px;
          height: 254px;
          display: none;
          background: url("./images/download_qr.jpg") 0 0 no-repeat;
          position: absolute;
          top: -108px;
          left: 50%;
          transform: translate(-50%,0);
          z-index: 99;
        }
      }
    }
  }
}
