.nav {
  width: 100%;
  height: 77px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  top: 0;
  left: 0;
  position: fixed;
  .nav-flex {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-logo {
      a {
        width: 148px;
        height: 77px;
        display: block;
      }
    }
    .nav-swith {
      width: 77px;
      height: 77px;
      display: none;
      .swith-on {
        width: 77px;
        height: 77px;
        display: block;
        background: url("./images/switch.png") center center no-repeat;
      }
      .swith-off {
        width: 77px;
        height: 77px;
        display: block;
        background: url("./images/close.png") center center no-repeat;
      }
    }
    .nav-menu {
      ul {
        width: 100%;
        li {
          float: left;
          a {
            margin: 0 20px;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            &:hover {
              color: #29acf1;
            }
          }
        }
        li.current-menu-item {
          a {
            font-weight: bold;
            color: #29acf1;
          }
        }
      }
    }
  }
}
.admin-bar .nav {
  top: 32px;
}

@media screen and (max-width: 640px) {
  .nav {
    .nav-logo {
      margin-left: 10px;
    }
    .nav-flex {
      .nav-swith {
        display: block;
      }
      .nav-menu {
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        height: 100vh;
        display: none;
        background-color: rgba(0, 0, 0, 0.8);
        ul.menu {
          display: flex;
          flex-direction: column;
          a {
            margin: 0;
            padding: 0 20px;
            height: 60px;
            line-height: 60px;
          }
        }
      }
    }
  }
  .admin-bar .nav {
    top: 46px;
  }
}
