@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  transition: .5s all;
}

input {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

ul,
li,
dl,
dt,
dd {
  list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  margin: 0; // 1
  text-align: left; // 3
  background-color: $body-bg; // 2
  /*! autoprefixer: off */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* autoprefixer: no */
}

body {
  -webkit-overflow-scrolling: touch;
  font-family: $font-family;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-decoration;
  }
}

.clearfix {
  zoom: 1;
  &:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
  }
}

.icon {
  display: inline-block;
}

html::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #ededed;
}
html::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #ededed;
}
html::-webkit-scrollbar-thumb {
  border-radius: 0;
  width: 17px;
  height: 17px;
  background-color: #535353;
}

.tit {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  span {
    display: inline-block;
    i {
      font-style: normal;
      border-bottom: 1px solid #36b9fe;
      font-size: 28px;
      padding: 15px 20px;
      display: inline-block;
    }
    padding-bottom: 20px;
    background: url("../assets/titpoint.png") center bottom no-repeat;
  }
}

@media screen and (max-width: 640px) {
  .tit {
    span {
      i {
        font-size: 20px;
      }
    }
  }
}