// Variables
//== Colors
$white: #fff;
$black: #000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

//== Typography
$font-family: 'MiscroSoft YaHei','微软雅黑','黑体',Arial,sans-serif;
$body-bg: #fff;
$body-color: #6c6c6c;
$link-color: #29acf1;
$link-hover-color: #74caf8;
$font-size: 14px;
$font-weight: 500;
$line-height: 0;
$link-decoration: none;