@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
  transition: .5s all;
}

input {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

ul,
li,
dl,
dt,
dd {
  list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  text-align: left;
  background-color: #fff;
  /*! autoprefixer: off */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* autoprefixer: no */
}

body {
  -webkit-overflow-scrolling: touch;
  font-family: "MiscroSoft YaHei", "微软雅黑", "黑体", Arial, sans-serif;
}

a {
  color: #29acf1;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #74caf8;
  text-decoration: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.icon {
  display: inline-block;
}

html::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #ededed;
}

html::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #ededed;
}

html::-webkit-scrollbar-thumb {
  border-radius: 0;
  width: 17px;
  height: 17px;
  background-color: #535353;
}

.tit {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.tit span {
  display: inline-block;
  padding-bottom: 20px;
  background: url("./images/titpoint.png") center bottom no-repeat;
}

.tit span i {
  font-style: normal;
  border-bottom: 1px solid #36b9fe;
  font-size: 28px;
  padding: 15px 20px;
  display: inline-block;
}

.wp-pagenavi {
  margin-top: 100px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .tit span i {
    font-size: 20px;
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

@keyframes pulse {
  from {
    transform: scale3d(0.5, 0.5, 0.5);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.home .banner-swiper {
  position: relative;
}

.home .banner-swiper .bannerSwiper {
  display: block;
}

.home .banner-swiper .bannerSwiperM {
  display: none;
}

.home .banner-swiper .slide-img {
  width: 100%;
  height: 900px;
  padding-bottom: 160px;
  display: block;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .banner-swiper .slide-img .slide-info {
  color: #fff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 15px;
}

.home .banner-swiper .swiper-pagination {
  bottom: 33px;
}

.home .banner-swiper .swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  margin: 0 10px;
  background: #c0c0c0;
  opacity: 1;
}

.home .banner-swiper .swiper-pagination-bullet-active {
  background: #2fccf6;
}

.home .banner-swiper .banner-btn,
.home .banner-swiper .banner-btn-m {
  max-width: 1200px;
  position: absolute;
  bottom: 90px;
  left: 50%;
  margin-left: -600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.home .banner-swiper .banner-btn a,
.home .banner-swiper .banner-btn-m a {
  width: 357px;
  height: 256px;
  display: block;
  margin: 0 20px;
}

.home .banner-swiper .banner-btn a.btn-1,
.home .banner-swiper .banner-btn-m a.btn-1 {
  background: url("./images/bannercv_1.png") 0 0 no-repeat;
  background-size: contain;
}

.home .banner-swiper .banner-btn a.btn-2,
.home .banner-swiper .banner-btn-m a.btn-2 {
  background: url("./images/bannercv_2.png") 0 0 no-repeat;
  background-size: contain;
}

.home .banner-swiper .banner-btn a.btn-3,
.home .banner-swiper .banner-btn-m a.btn-3 {
  background: url("./images/bannercv_3.png") 0 0 no-repeat;
  background-size: contain;
}

.home .banner-swiper .banner-btn-m {
  display: none;
}

.home .col-1 {
  width: 100%;
  height: 662px;
  padding-top: 80px;
  background: url("./images/ibg_1.jpg") center 0 no-repeat;
}

.home .col-1 .tit {
  margin-bottom: 50px;
}

.home .col-1 .con {
  max-width: 1200px;
  height: 288px;
  position: relative;
  margin: 0 auto 50px auto;
  background: url("./images/con_1.png") center 0 no-repeat;
  display: flex;
  padding: 160px 60px 0 60px;
  justify-content: space-around;
}

.home .col-1 .con .point {
  width: 101px;
  height: 7px;
  overflow: hidden;
  background-image: url("./images/point.png");
  background-repeat: no-repeat;
  animation: point 1s steps(1) 0s infinite both;
}

.home .col-1 .conm {
  display: none;
}

.home .col-1 .conm img {
  width: 100%;
}

.home .col-1 .btn {
  text-align: center;
}

.home .col-1 .btn a {
  width: 291px;
  height: 65px;
  display: inline-block;
  background: url("./images/btn_1.png") center 0 no-repeat;
}

.home .col-2 {
  width: 100%;
  height: 956px;
  padding-top: 60px;
  background: url("./images/ibg_2.jpg") center 0 no-repeat;
}

.home .col-2 .tit {
  color: #fff;
}

.home .col-2 .con {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.home .col-2 .con .light {
  width: 70px;
  height: 70px;
  position: absolute;
  cursor: pointer;
}

.home .col-2 .con .light span.sp1 {
  width: 75px;
  height: 75px;
  display: block;
  background: url("./images/light.png") 0 0 no-repeat;
  animation: pulse 1s infinite;
}

.home .col-2 .con .light-100 {
  top: 88px;
  left: 1000px;
}

.home .col-2 .con .light-100 span.sp2 {
  width: 440px;
  height: 257px;
  display: none;
  position: absolute;
  right: 50px;
  top: -50px;
  z-index: 99;
  background: url("./images/map_100.png") 0 0 no-repeat;
  z-index: 99;
}

.home .col-2 .con .light-100 span.on {
  animation: zoomIn 0.2s;
  display: block;
}

.home .col-2 .con .light-60 {
  top: 184px;
  left: 760px;
}

.home .col-2 .con .light-60 span.sp2 {
  width: 349px;
  height: 251px;
  display: none;
  position: absolute;
  right: 50px;
  top: -50px;
  background: url("./images/map_60.png") 0 0 no-repeat;
  z-index: 99;
}

.home .col-2 .con .light-60 span.on {
  animation: zoomIn 0.2s;
  display: block;
}

.home .col-2 .con .light-150 {
  top: 408px;
  left: 632px;
}

.home .col-2 .con .light-150 span.sp2 {
  width: 444px;
  height: 266px;
  display: none;
  position: absolute;
  right: 50px;
  bottom: 50px;
  background: url("./images/map_150.png") 0 0 no-repeat;
  z-index: 99;
}

.home .col-2 .con .light-150 span.on {
  animation: zoomIn 0.2s;
  display: block;
}

.home .col-2 .con .light-75 {
  top: 532px;
  left: 600px;
}

.home .col-2 .con .light-75 span.sp2 {
  width: 438px;
  height: 269px;
  display: none;
  position: absolute;
  left: 50px;
  bottom: 50px;
  background: url("./images/map_75.png") 0 0 no-repeat;
  z-index: 99;
}

.home .col-2 .con .light-75 span.on {
  animation: zoomIn 0.2s;
  display: block;
}

.home .col-2 .con .light-120 {
  top: 576px;
  left: 506px;
}

.home .col-2 .con .light-120 span.sp2 {
  width: 448px;
  height: 266px;
  display: none;
  position: absolute;
  right: 50px;
  bottom: 50px;
  background: url("./images/map_120.png") 0 0 no-repeat;
  z-index: 99;
}

.home .col-2 .con .light-120 span.on {
  animation: zoomIn 0.2s;
  display: block;
}

.home .col-3 {
  width: 100%;
  height: 1351px;
  padding-top: 110px;
  background: url("./images/ibg_3.jpg") center 0 no-repeat;
}

.home .col-3 .tit {
  margin-bottom: 50px;
}

.home .col-3 .con {
  max-width: 1200px;
  margin: 0 auto;
}

.home .col-3 .con ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home .col-3 .con ul li {
  width: 357px;
  height: 466px;
  margin-bottom: 70px;
}

.home .col-3 .con ul li img {
  box-shadow: 5px 5px 8px 1px rgba(102, 102, 102, 0.5);
}

.home .col-3 .btn {
  display: none;
  text-align: center;
}

.home .col-3 .btn a {
  width: 250px;
  height: 38px;
  background: url("./images/morem2.png") center 0 no-repeat;
  background-size: contain;
  display: none;
  display: inline-block;
}

.home .col-4 {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 40px;
  background: url("./images/ibg_4.jpg") center 0 no-repeat;
}

.home .col-4 .tit {
  margin-bottom: 0;
}

.home .col-4 .event {
  max-width: 1200px;
  margin: 0 auto;
}

.home .col-4 .event .event-c {
  padding-top: 80px;
}

.home .col-4 .event .event-c .swiper-slide {
  width: 687px;
}

.home .col-4 .event .event-c .swiper-slide ul li.li1 {
  width: 100%;
}

.home .col-4 .event .event-c .swiper-slide ul li.li2 {
  display: none;
}

.home .col-4 .event .event-c .swiper-slide-prev,
.home .col-4 .event .event-c .swiper-slide-next {
  width: 687px;
  height: 338px;
  overflow: hidden;
}

.home .col-4 .event .event-c .swiper-slide-active ul li.li2 {
  display: block;
  text-align: center;
}

.home .col-4 .event .event-c .swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

.home .col-4 .event .event-c .swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

.home .col-5 {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 80px;
  background: url("./images/ibg_4.jpg") center 0 no-repeat;
}

.home .col-5 .tit {
  margin-bottom: 20px;
  position: relative;
}

.home .col-5 .more {
  max-width: 1200px;
  margin: 0 auto;
  text-align: right;
  padding-top: 20px;
  font-size: 20px;
}

.home .col-5 .morem {
  display: none;
  text-align: center;
}

.home .col-5 .morem a {
  width: 250px;
  height: 38px;
  background: url("./images/morem.png") center 0 no-repeat;
  background-size: contain;
  display: none;
  display: inline-block;
}

.home .col-5 .news {
  max-width: 1200px;
  margin: 0 auto 50px auto;
}

.home .col-5 .news .news-t {
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  border-bottom: 1px solid #8d8d8d;
}

.home .col-5 .news .news-c {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.home .col-5 .news .news-c .newsc-img {
  width: 474px;
}

.home .col-5 .news .news-c .newsc-img ul li {
  text-align: center;
}

.home .col-5 .news .news-c .newsc-img ul li img {
  width: 474px;
  height: 291px;
}

.home .col-5 .news .news-c .newsc-img ul li a {
  color: #484848;
}

.home .col-5 .news .news-c .newsc-img ul li a:hover {
  color: #29acf1;
}

.home .col-5 .news .news-c .newsc-list {
  width: 665px;
}

.home .col-5 .news .news-c .newsc-list .item {
  height: 110px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.home .col-5 .news .news-c .newsc-list .item dl {
  width: 83px;
  text-align: center;
}

.home .col-5 .news .news-c .newsc-list .item dl dd.dd1 {
  color: #29acf1;
  font-size: 64px;
  line-height: 1;
}

.home .col-5 .news .news-c .newsc-list .item dl dd.dd2 {
  color: #29acf1;
  font-size: 18px;
}

.home .col-5 .news .news-c .newsc-list .item ul {
  width: 566px;
  font-size: 20px;
  margin-bottom: 25px;
}

.home .col-5 .news .news-c .newsc-list .item ul li.li1 {
  font-size: 20px;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}

.home .col-5 .news .news-c .newsc-list .item ul li.li1 a {
  color: #484848;
}

.home .col-5 .news .news-c .newsc-list .item ul li.li1 a:hover {
  color: #29acf1;
}

.home .col-5 .news .news-c .newsc-list .item ul li.li2 {
  font-size: 18px;
  color: #878787;
}

@keyframes point {
  17% {
    background-position: 0 0;
  }
  34% {
    background-position: 0 -7px;
  }
  51% {
    background-position: 0 -14px;
  }
  68% {
    background-position: 0 -21px;
  }
  85% {
    background-position: 0 -28px;
  }
  100% {
    background-position: 0 -35px;
  }
}

@media screen and (max-width: 1440px) {
  .home .banner-swiper .slide-img {
    height: 700px;
  }
  .home .banner-swiper .banner-btn {
    width: 900px;
    margin-left: -450px;
    bottom: 120px;
  }
  .home .banner-swiper .banner-btn a {
    width: 250px;
    height: 179px;
  }
}

@media screen and (max-width: 640px) {
  .home .banner-swiper .bannerSwiper {
    display: none;
  }
  .home .banner-swiper .bannerSwiperM {
    display: block;
  }
  .home .banner-swiper .slide-img {
    height: 600px;
  }
  .home .banner-swiper .banner-btn {
    display: none;
  }
  .home .banner-swiper .banner-btn-m {
    width: 100%;
    margin-left: 0;
    bottom: 40px;
    left: 0;
    display: block;
  }
  .home .banner-swiper .banner-btn-m div {
    display: flex;
    justify-content: center;
  }
  .home .banner-swiper .banner-btn-m a {
    width: 40%;
    height: 140px;
  }
  .home .banner-swiper .slide-img .slide-info {
    font-size: 12px;
    letter-spacing: 8px;
  }
  .home .banner-swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 5px;
  }
  .home .col-1 {
    height: auto;
    padding: 20px 20px 40px 20px;
  }
  .home .col-1 .tit {
    margin-bottom: 20px;
  }
  .home .col-1 .con {
    display: none;
  }
  .home .col-1 .conm {
    display: block;
    padding: 0 20px 40px 20px;
  }
  .home .col-1 .btn a {
    width: 200x;
    height: 45px;
    background-size: contain;
  }
  .home .col-5 {
    height: auto;
    padding: 20px 0 20px 0;
  }
  .home .col-5 .tit {
    margin-bottom: 20px;
  }
  .home .col-5 .more {
    display: none;
  }
  .home .col-5 .morem {
    display: block;
  }
  .home .col-5 .news {
    margin-bottom: 20px;
  }
  .home .col-5 .news .news-c {
    flex-direction: column;
  }
  .home .col-5 .news .news-c .newsc-img {
    width: auto;
    position: relative;
  }
  .home .col-5 .news .news-c .newsc-img ul li img {
    width: 100%;
    height: auto;
  }
  .home .col-5 .news .news-c .newsc-img ul li.li2 {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 20px;
  }
  .home .col-5 .news .news-c .newsc-img ul li.li2 a {
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
  }
  .home .col-5 .news .news-c .newsc-list {
    width: 100%;
  }
  .home .col-5 .news .news-c .newsc-list .item {
    height: auto;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #d1d1d1;
  }
  .home .col-5 .news .news-c .newsc-list .item dl {
    width: 50px;
    margin-right: 20px;
    flex: 0 0 auto;
  }
  .home .col-5 .news .news-c .newsc-list .item dl dd.dd1 {
    font-size: 40px;
  }
  .home .col-5 .news .news-c .newsc-list .item dl dd.dd2 {
    font-size: 12px;
  }
  .home .col-5 .news .news-c .newsc-list .item ul {
    margin-bottom: 0;
  }
  .home .col-5 .news .news-c .newsc-list .item ul li.li1 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .home .col-5 .news .news-c .newsc-list .item ul li.li2 {
    font-size: 14px;
  }
  .home .col-2 {
    height: 500px;
    padding: 0;
    background: url("./images/mapmbg.jpg") center 0 no-repeat;
    background-size: cover;
  }
  .home .col-2 .tit {
    margin-bottom: 20px;
  }
  .home .col-2 .con .light {
    width: 40px;
    height: 40px;
  }
  .home .col-2 .con .light span.sp1 {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
  .home .col-2 .con .light-100 {
    top: 70px;
    left: auto;
    right: 30px;
  }
  .home .col-2 .con .light-100 span.sp2 {
    width: 200px;
    height: 117px;
    right: 30px;
    top: -30px;
    background-size: contain;
  }
  .home .col-2 .con .light-60 {
    top: 120px;
    left: auto;
    right: 100px;
  }
  .home .col-2 .con .light-60 span.sp2 {
    width: 200px;
    height: 144px;
    right: 30px;
    top: -30px;
    background-size: contain;
  }
  .home .col-2 .con .light-150 {
    top: 280px;
    left: 190px;
  }
  .home .col-2 .con .light-150 span.sp2 {
    width: 200px;
    height: 120px;
    right: 30px;
    bottom: 30px;
    background-size: contain;
  }
  .home .col-2 .con .light-75 {
    top: 220px;
    left: 52px;
  }
  .home .col-2 .con .light-75 span.sp2 {
    width: 200px;
    height: 123px;
    left: 30px;
    bottom: 30px;
    background-size: contain;
  }
  .home .col-2 .con .light-120 {
    top: 280px;
    left: 280px;
  }
  .home .col-2 .con .light-120 span.sp2 {
    width: 200px;
    height: 119px;
    right: 30px;
    bottom: 30px;
    background-size: contain;
  }
  .home .col-3 {
    height: auto;
    padding: 20px 10px 40px 10px;
    background-size: cover;
  }
  .home .col-3 .tit {
    margin-bottom: 20px;
  }
  .home .col-3 .con ul li {
    width: 50%;
    height: auto;
    margin-bottom: 0px;
    padding: 0 10px 20px 10px;
  }
  .home .col-3 .con ul li img {
    width: 100%;
  }
  .home .col-3 .conhide .hvr-grow2,
  .home .col-3 .conhide .hvr-grow3,
  .home .col-3 .conhide .hvr-grow4,
  .home .col-3 .conhide .hvr-grow5 {
    display: none;
  }
  .home .col-3 .btn {
    display: block;
  }
  .home .col-4 {
    height: auto;
    padding: 20px 10px 40px 10px;
  }
  .home .col-4 .tit {
    margin-bottom: 20px;
  }
  .home .col-4 .event .event-c {
    padding-top: 0;
  }
  .home .col-4 .event .event-c .swiper-slide {
    width: 300px;
    height: auto;
  }
  .home .col-4 .event .event-c .swiper-slide img {
    width: 100%;
  }
  @keyframes point {
    17% {
      background-position: 0 0;
    }
    34% {
      background-position: 0 -2px;
    }
    51% {
      background-position: 0 -4px;
    }
    68% {
      background-position: 0 -6px;
    }
    85% {
      background-position: 0 -8px;
    }
    100% {
      background-position: 0 -10px;
    }
  }
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    transform: none;
  }
}

.nav {
  width: 100%;
  height: 77px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  top: 0;
  left: 0;
  position: fixed;
}

.nav .nav-flex {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav-flex .nav-logo a {
  width: 148px;
  height: 77px;
  display: block;
}

.nav .nav-flex .nav-swith {
  width: 77px;
  height: 77px;
  display: none;
}

.nav .nav-flex .nav-swith .swith-on {
  width: 77px;
  height: 77px;
  display: block;
  background: url("./images/switch.png") center center no-repeat;
}

.nav .nav-flex .nav-swith .swith-off {
  width: 77px;
  height: 77px;
  display: block;
  background: url("./images/close.png") center center no-repeat;
}

.nav .nav-flex ul.menu {
  display: flex;
}

.nav .nav-flex ul.menu li a {
  margin: 0 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.nav .nav-flex ul.menu li a:hover {
  color: #29acf1;
}

.nav .nav-flex ul.menu li a:last-child {
  margin-right: 0;
}

.nav .nav-flex ul.menu li.current-menu-item a {
  font-weight: bold;
  color: #29acf1;
}

.admin-bar .nav {
  top: 32px;
}

@media screen and (max-width: 640px) {
  .nav .nav-logo {
    margin-left: 10px;
  }
  .nav .nav-flex .nav-swith {
    display: block;
  }
  .nav .nav-flex .nav-link {
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
  }
  .nav .nav-flex .nav-link a {
    margin: 0;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
  }
  .admin-bar .nav {
    top: 46px;
  }
}

.flink {
  padding: 35px 0;
  background-color: #3a3434;
}

.flink .flink-flex {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.flink .flink-flex ul li {
  color: #fff;
}

.flink .flink-flex ul li.li1 {
  font-size: 18px;
  font-weight: bold;
}

.flink .flink-flex ul.ul1 li {
  margin-bottom: 10px;
}

.flink .flink-flex ul.ul1 li.li2 {
  height: 30px;
  line-height: 30px;
  padding-left: 50px;
  background: url("./images/icon_address.png") 0 center no-repeat;
}

.flink .flink-flex ul.ul1 li.li3 {
  height: 30px;
  line-height: 30px;
  padding-left: 50px;
  background: url("./images/icon_tel.png") 0 center no-repeat;
}

.flink .flink-flex ul.ul2 li.li1 {
  margin-bottom: 10px;
}

.flink .flink-flex ul.ul2 li.li2 {
  margin-bottom: 5px;
  font-size: 14px;
}

.copyright {
  height: 78px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #b0b0b0;
  background-color: #3e3e3e;
  border-top: 1px solid #777777;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .flink {
    padding: 0;
  }
  .flink .flink-flex {
    flex-direction: column;
  }
  .flink .flink-flex ul {
    padding: 20px;
    border-top: 1px solid #777777;
  }
  .flink .flink-flex ul.ul1 {
    padding-bottom: 10px;
  }
  .flink .flink-flex ul.ul1 li {
    font-size: 12px;
    margin-bottom: 0;
  }
  .flink .flink-flex ul.ul1 li.li2 {
    padding-left: 30px;
    background-size: 20px 20px;
  }
  .flink .flink-flex ul.ul1 li.li3 {
    padding-left: 30px;
    background-size: 20px 20px;
  }
  .flink .flink-flex ul.ul2 li.li1 {
    font-size: 14px;
  }
  .flink .flink-flex ul.ul2 li.li2 {
    font-size: 12px;
  }
  .flink .flink-flex ul.ul3 li.li1 {
    font-size: 14px;
  }
  .copyright {
    font-size: 12px;
  }
}

.list-wrapper .banner {
  height: 473px;
  padding-top: 77px;
  background: url("./images/cbanner_list.jpg") center 0 no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-wrapper .banner h2 {
  width: 920px;
  font-size: 60px;
  text-align: center;
  color: #fff;
}

.list-wrapper .list {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 200px;
  background: url("./images/listbg.jpg") center 0 repeat-y;
}

.list-wrapper .list .item {
  background-color: #fff;
  box-shadow: 5px 5px 8px 1px rgba(102, 102, 102, 0.5);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.list-wrapper .list .item .item-img {
  width: 270px;
  height: 166px;
  overflow: hidden;
  margin-right: 75px;
  flex: 0 0 auto;
}

.list-wrapper .list .item .item-img img {
  width: 270px;
  height: 166px;
}

.list-wrapper .list .item ul {
  padding: 15px 0;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.list-wrapper .list .item ul li.li1 span {
  display: none;
}

.list-wrapper .list .item ul li.li1 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.list-wrapper .list .item ul li.li1 h2 a {
  color: #585858;
}

.list-wrapper .list .item ul li.li1 p {
  font-size: 18px;
  color: #878787;
}

.list-wrapper .list .item ul li.li2 {
  font-size: 16px;
  color: #878787;
}

.list-wrapper .list .item span.arrow {
  width: 25px;
  height: 26px;
  position: absolute;
  right: 42px;
  bottom: 15px;
  background: url("./images/arrow.png") 0 0 no-repeat;
}

.list-wrapper .list .item:hover ul li.li1 h2 a {
  color: #29acf1;
}

.list-wrapper .list .item:hover span.arrow {
  background: url("./images/arrowhover.png") 0 0 no-repeat;
}

@media screen and (max-width: 640px) {
  .list-wrapper .banner {
    height: 340px;
  }
  .list-wrapper .banner h2 {
    width: 100%;
    font-size: 34px;
  }
  .list-wrapper .list {
    padding: 0;
    background: none;
  }
  .list-wrapper .list .tit {
    display: none;
  }
  .list-wrapper .list .item {
    margin-bottom: 0;
    box-shadow: none;
  }
  .list-wrapper .list .item .item-img {
    display: none;
  }
  .list-wrapper .list .item:nth-of-type(odd) {
    background: #f6f6f6;
  }
  .list-wrapper .list .item ul {
    width: 100%;
    padding-right: 40px;
    padding-left: 20px;
  }
  .list-wrapper .list .item ul li {
    width: 100%;
  }
  .list-wrapper .list .item ul li.li1 span {
    display: block;
    color: #29acf1;
  }
  .list-wrapper .list .item ul li.li1 h2 {
    display: flex;
    font-size: 20px;
  }
  .list-wrapper .list .item ul li.li1 h2 span {
    margin-right: 10px;
    flex: 0 0 auto;
  }
  .list-wrapper .list .item ul li.li1 h2 a {
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #29acf1;
  }
  .list-wrapper .list .item ul li.li1 p {
    font-size: 12px;
  }
  .list-wrapper .list .item ul li.li2 {
    display: none;
  }
  .list-wrapper .list .item span.arrow {
    top: 20px;
    right: 10px;
    bottom: auto;
    background: url("./images/arrowhover.png") 0 0 no-repeat;
  }
}
