.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

@keyframes point {
  17% {
    background-position: 0 0;
  }
  34% {
    background-position: 0 -7px;
  }
  51% {
    background-position: 0 -14px;
  }
  68% {
    background-position: 0 -21px;
  }
  85% {
    background-position: 0 -28px;
  }
  100% {
    background-position: 0 -35px;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(0.5, 0.5, 0.5);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}
