.about {
  min-width: 1200px;
  .banner {
    height: 396px;
    padding-top: 77px;
    background: url("images/cbanner_about.jpg") center 0 no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      width: 920px;
      font-size: 60px;
      text-align: center;
      color: #fff;
    }
  }
  .about-1 {
    height: 862px;
    background: url("images/about_1.jpg") center 0 no-repeat;
  }
  .about-2 {
    height: 652px;
    background: url("images/about_2.jpg") center 0 no-repeat;
  }
  .about-3 {
    height: 695px;
    background: url("images/about_3.jpg") center 0 no-repeat;
  }
}
