.page-archive {
  height: 473px;
  background: url("images/newsbanner.jpg") center 0 no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.archive-wrapper {
  padding-top: 268px;
  padding-bottom: 80px;
  background: url("images/newsbg.jpg") center 0 no-repeat;
  background-size: cover;
  .post {
    width: 1200px;
    height: 166px;
    overflow: hidden;
    margin: 30px auto 0 auto;
    box-shadow: 5px 5px 8px 1px rgba(102, 102, 102, 0.5);
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    .post-thumbnail {
      width: 271px;
      height: 166px;
      margin-right: 80px;
      flex: 0 0 auto;
      img {
        width: 271px;
        height: 166px;
      }
    }
    .post-info {
      width:100%;
      .entry-header{
        width: 100%;
        margin-top: 20px;
        h2  {
          font-size: 24px;
        }
      }
      .entry-content {
        width: 660px;
        min-height: 80px;
        font-size: 18px;
        color: #878787;
      }
      .entry-footer {
        width: 100%;
        font-size: 12px;
        color: #878787;
      }
    }
  }
}
